@media print {
    .no-print {
        display: none !important;
    }
}
#removeImageButton {
    display: block !important;
}

.backgroundColorLaser{
    background-color: #fd7e14; /* Cor hexadecimal */
}

.text-darkLaser{
    color: #000; /* Outra cor em hexadecimal, exemplo de texto escuro */
}